
h1{
    left:50%;
}

#section{
    width: 80%;
}


#header{
    background-color: cadetblue;
    color:white;
    font-size:"20px";
    font-family:'Lucida Sans';
    line-height: 100px;
    text-align: center;
}

#meal-left{
    width: 49%;
    float: left;
}

#meal-right{
    width: 50%;
    float: right;
    margin-left: 15%
}