/* html{
    background: linear-gradient(to bottom, #76adae 30%, #ffdbbb 50%);
} */

body{
    margin:0;
    background-color: #ebe0a0;
    color:#3e3e3e;
}

#header{
    background-color: #519ca8;
    /* background: linear-gradient(to bottom, #76adae 90%, #ffdbbb 150%); */
    color:#080b36;
    font-size: 150%;
    margin:0;
    padding-bottom: 20px;
    /* padding-top: 10px; */
    border-bottom: 20px solid #080b367f;
    /* line-height: 100px; */
}

#header h1{
    margin-bottom: 0;
    margin-top: 0;
}

#section{
    font-size:150%;
    text-align: left;
    margin-left: 10%;
    margin-top: 2.5em;
    padding-right: 5px;
}

.center{
    text-align: center;
    padding-left: 12%;
    padding-top: 15px;
}

@media only screen and (max-width:400px){
    #header{
        font-size: 100%;
    }
    #section{
        margin-left: 5%;
        margin-top: 0;
    }

    #img-magiic-chef{
        max-width: 120px;
    }

    #date-container{
        padding-left: 35px;
    }
}

/*Button*/
/* button{
    background-color: rgb(118, 173, 174);
    border:none;
    position:absolute;
    bottom: 0;
    height:3em;
    padding-bottom: 2px;
} */

button:hover{
    border:2px solid #000000;
    background-color: #14888a;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    right: 8px;
    width: 100px;
    position:absolute;
    bottom: 26px;
    height:3em;
  }


/*Ordered List Styling*/
ol {
    list-style-position: outside;
    padding-left: 2rem; /* Adjust as needed */
}

li {
    text-indent: -1rem; /* Adjust based on numbering width */
    padding-left: 1.5rem; /* Align text properly */
    padding-top: 0.5rem;
}

ul {
    list-style-position: outside;
    padding-left: 1rem; /* Adjust based on bullet width */
}

li {
    text-indent: -1.5rem; /* Adjust based on bullet width */
    padding-left: 1.5rem; /* Ensures text alignment */
}

#img-magiic-chef{
    width: 180px;
    float: right;
}

/* Sidebar */
.sidebar  {
	font-size: 20px;
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0px;
	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
	padding-left: 0px;
	line-height: 22px;
	padding-top: 20px;
}

.sidebar a {
	text-decoration: none;
	color: white;
	display: block;
	padding-left: 25px;
}

.sidebar a:hover{
	color: grey;
}

.sidebar .closebtn {
	position: absolute;
	top: 0px;
	right: 15px;
	padding-left: 20px;
}

#mainn {
	font-size: 50px;
	cursor: pointer;
    padding-left: 10px;
    float: left;
    position:absolute;
}