#section{
    font-size:150%;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}


#header{
    background-color: rgb(118, 173, 174);
    color:rgb(0, 0, 0);
    font-size:"50px";
    font-family:'Lucida Sans';
    line-height: 100px;
    text-align: center;
}

@media only screen and (max-width:400px){
    #section{
        margin-left: 5%;
    }
}

/*Button*/
button{
    background-color: rgb(118, 173, 174);
    border:none;
    float:right;
    
}

button:hover{
    border:2px solid #000000;
    background-color: #14888a;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /* position: fixed; */
    top: 40px;
    right: 8px;
    width: 100px;
  }


/*Ordered List Styling*/
ol {
    list-style-position: outside;
    padding-left: 2rem; /* Adjust as needed */
}

li {
    text-indent: -1rem; /* Adjust based on numbering width */
    padding-left: 1.5rem; /* Align text properly */
    padding-top: 0.5rem;
}


/*Unordered List Styling*/
ul {
    list-style-position: outside;
    padding-left: 1rem; /* Adjust based on bullet width */
}

li {
    text-indent: -1.5rem; /* Adjust based on bullet width */
    padding-left: 1.5rem; /* Ensures text alignment */
}
/*
ol li {
    display: flex;
    align-items: flex-start;
}
*/