
body{
    margin:0;
    background-color: #417087;
    color:#aee0f8;
}

#header{
    background-color: #c2bfa7;
    /* background: linear-gradient(to bottom, #76adae 90%, #ffdbbb 150%); */
    color:#6B553B;
    font-size: 150%;
    font-family: 'Georgia', sans-serif;
    margin-top:0;
    padding-bottom: 20px;
    /* padding-top: 10px; */
    border-bottom: 10px solid #6B553B;
    /* line-height: 100px; */
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
}

#header h1{
    margin-bottom: 0;
    margin-top: 10px;
}

#date-container{
    margin-top:20px;
    margin-left: 70px;
    font-size:120%;
}

#section{
    font-size:180%;
    font-family: 'Georgia';
    text-align: left;
    margin-left: 10%;
    margin-top: 100px;
    padding-top: 2.5em;
    padding-right: 10%;
    transition: margin-left 1s;
}

.center{
    text-align: center;
}

.portionSizes{
    margin-bottom:40px;
}

.resized-number {
    width: 3em;   /* Change this to desired width */
    height: 1em;   /* Change this to desired height */
    font-family: 'Georgia';
    font-size: 35px; /* Optional: control text size */
    padding: 1px;    /* Optional: control inner spacing */
    margin-left: 20px;
    color: #aee0f8;
    background-color: #417087;
    border:none;
    position: relative;
    top:3px;
  }

  .inline-block{
    display:inline-block;
  }
/*Button*/
/* button{
    background-color: rgb(118, 173, 174);
    border:none;
    position:absolute;
    bottom: 0;
    height:3em;
    padding-bottom: 2px;
} */

button:hover{
    border:2px solid #000000;
    background-color: #14888a;
}

/*Ordered List Styling*/
ol {
    list-style-position: outside;
    padding-left: 2rem; /* Adjust as needed */
}

li {
    text-indent: -1rem; /* Adjust based on numbering width */
    padding-left: 1.5rem; /* Align text properly */
    padding-top: 0.5rem;
    font-size:85%;
}

.li-ingredients{
    font-size:90%;
}

.li-preps{
    font-size:80%;
}

ul {
    list-style-position: outside;
    padding-left: 1rem; /* Adjust based on bullet width */
}

#img-magiic-chef{
    width: 200px;
    float: right;
    z-index: 1;
}