
body{
    margin:0;
    background-color: #ebe0a0;
    color:#3e3e3e;
}

#header{
    background-color: #519ca8;
    /* background: linear-gradient(to bottom, #76adae 90%, #ffdbbb 150%); */
    color:#080b36;
    font-size: 150%;
    margin:0;
    padding-bottom: 20px;
    /* padding-top: 10px; */
    border-bottom: 20px solid #080b367f;
    /* line-height: 100px; */
    position: fixed;
    width: 100%;
    top: 0;
}

#header h1{
    margin-bottom: 0;
    margin-top: 0;
}

#section{
    font-size:150%;
    text-align: left;
    margin-left: 10%;
    margin-top: 180px;
    padding-top: 2.5em;
    padding-right: 10%;
}

.center{
    text-align: center;
    padding-left: 12%;
    padding-top: 15px;
}

/*Button*/
/* button{
    background-color: rgb(118, 173, 174);
    border:none;
    position:absolute;
    bottom: 0;
    height:3em;
    padding-bottom: 2px;
} */

button:hover{
    border:2px solid #000000;
    background-color: #14888a;
}

/*Ordered List Styling*/
ol {
    list-style-position: outside;
    padding-left: 2rem; /* Adjust as needed */
}

li {
    text-indent: -1rem; /* Adjust based on numbering width */
    padding-left: 1.5rem; /* Align text properly */
    padding-top: 0.5rem;
}

ul {
    list-style-position: outside;
    padding-left: 1rem; /* Adjust based on bullet width */
}

li {
    text-indent: -1.5rem; /* Adjust based on bullet width */
    padding-left: 1.5rem; /* Ensures text alignment */
}

#img-magiic-chef{
    width: 180px;
    float: right;
}

